<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chasingFITness.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0276BE7E1C40958200DCB510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0276BE9A1C40958200DCB510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0276BEA51C40958200DCB510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
